body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('background.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.dashboard-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.dashboard-container h2 {
    text-align: center;
    color: rgb(215, 215, 2);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.dashboard-container nav {
    display: flex;
    justify-content: space-around;
    background-color: #256cb3;
}

.dashboard-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboard-container nav ul li {
    display: inline-block;
}

.dashboard-container nav ul li a {
    display: block;
    padding: 1rem 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dashboard-container nav ul li a:hover {
    background-color: rgb(215, 215, 2);
}

table {
    background-color: #256cb3;
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0 2rem;
}
th,
td {
    padding: 12px;
    text-align: left;
    vertical-align: top;
    border: 1px solid;
}
th {
    font-weight: bold;
    color: #333;
}

tbody tr:hover {
    background-color: rgb(215, 215, 2);
}
.action-buttons button {
    background-color: #37bc77;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    margin-right: 5px;
}
.action-buttons button:hover {
    background-color: #224e42;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px;
    text-align: right;
}

button{
    border-color: rgb(174, 53, 53);
    background-color: #256cb3;
}

a {
    text-decoration: none;
    color: rgb(215, 215, 2);
}