body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('background.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 30px auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: #256cb3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #16406b;
}

.banner {
    
    color: rgb(215, 215, 2);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    align-items: first baseline;
}

.logo {
    height: 135px;
    width: 135px;
}

button{
    border-color: rgb(174, 53, 53);
    background-color: #256cb3;
}

.blink {
    text-decoration: none;
    color: rgb(215, 215, 2);
}