/* Base Styles */
body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
    overflow: hidden;
    padding-top: 120px;
}

/* Layout */
#map,
#property-images {
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 25%;
    background-color: #fff;
    z-index: 1;
}

.sidebar {
    height: calc(100% - 120px);
    width: 25%;
    position: fixed;
    top: 120px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.picture-viewer-container {
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 25%;
    overflow-y: auto;
    /* Enable scrolling for overflow content */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;

}

.property-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
}

/* Ensure no scrolling on main map page */
#map {
    overflow: hidden;
}

/* Allow scrolling in picture viewer only if content overflows */
#property-images {
    overflow-y: auto;
}

/* Layout Adjustments */
#map,
#property-images,
.sidebar {
    top: 120px;
}

/* Top Navigation Bar */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 110px;
    box-sizing: border-box;
}

/* Base Styles for Navigation Buttons */
.nav-button {
    background-color: #ffffff;
    color: #333;
    padding: 12px 24px;
    border: 2px solid #007bff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 12px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hover and Focus Styles for Buttons */
.nav-button:hover,
.nav-button:focus {
    background-color: #007bff;
    color: #ffffff;
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.nav-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

/* Adjustments for Items in the Top Navigation Bar */
.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-grow: 1;
    text-align: center;
    font-size: larger;
    margin: 0 20px;
}

/* Navigation Logo */
.nav-logo img {
    height: 60px;
    width: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-logo img:hover {
    transform: scale(1.1);
}

/* Typography */
h2,
h3,
p {
    margin: 10px 0;
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: #444;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/* Detail Item Styling */
.detail-item {
    margin-bottom: 15px;
}

.detail-item h3 {
    font-size: 20px;
    color: #444;
    margin-bottom: 5px;
}

.detail-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* Lists */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Visual Separators for Sections */
hr {
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* Interactive Elements */
.property-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.property-module:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.property-info {
    flex: 3;
    overflow: hidden;
    /* Prevents text from overflowing */
}

.property-listing-img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
    order: -1;
}

.property-module:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button,
button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    margin: 10px 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover,
button:hover {
    background-color: #0056b3;
}


/* Misc */
.hidden {
    display: none;
}

.visible {
    display: block;
}

.gm-ui-hover-effect {
    display: none !important;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {

    .sidebar,
    #map,
    #property-images {
        width: 100%;
        left: 0;
        padding: 1rem;
    }

    .sidebar {
        position: relative;
        height: auto;
        padding: 10px;
    }

    h2,
    .property-module,
    .button {
        font-size: 5vw;
        padding: 0.5rem;
    }


    .picture-viewer-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .property-image {
        max-width: 100%;
    }

    .top-nav {
        flex-wrap: wrap;
        padding: 10px;
    }

    .nav-logo {
        order: -1;
        width: 100%;
        margin: 10px 0;
    }

    .left-nav,
    .right-nav {
        justify-content: center;
        width: 100%;
    }

    h2,
    .detail-item h3,
    .detail-item p {
        font-size: 90%;
    }

    .fancybox-thumbs {
        bottom: 0;
        left: 0;
        width: 100%;
        transform: none;
    }

    .property-module,
    .button {
        padding: 8px;
    }
}

/* Scrollbar Styling for Webkit Browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Property Map */
.property-map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

/* Customize Fancybox navigation buttons */
.fancybox-button--arrow_left,
.fancybox-button--arrow_right {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    border-radius: 50%; 
    color: white;
    font-size: 32px; 
    width: 80px; 
    height: 80px; 
    line-height: 80px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.fancybox-button--arrow_left:hover,
.fancybox-button--arrow_right:hover {
    background-color: rgba(0, 0, 0, 0.7); 
    transform: scale(1.1); 
}

/* Adjust positions to ensure they don't overlap with the image */
.fancybox-button--arrow_left {
    left: 20px; 
}

.fancybox-button--arrow_right {
    right: 20px; 
}

/* Search Container */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Search Input */
#search-input {
    padding: 9px 40px 9px 20px;
    border: 2px solid #007bff;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    outline: none;
    transition: all 0.3s;
    background-color: #fff;
    color: #333;
    margin-right: 8px;
    height: 24px;
}

#search-input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 123, 255, .5);
}

/* Search Icon */
.search-icon {
    position: absolute;
    right: 20px;
    top: 53%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
}

.search-icon svg {
    width: 20px;
    height: auto;
    transition: opacity 0.3s ease;
}

.search-icon:hover img {
    opacity: 0.7;
}

/* Enhancements for Autocomplete Suggestions */
.pac-container {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pac-item {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.pac-item:hover,
.pac-item:focus {
    background-color: #f5f5f5;
}

.pac-item-query {
    font-weight: bold;
    color: #007bff;
}