<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Member(s)</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<nav>
    <img src="/Queens.png" alt="Logo" width="70">
    <h1>Kingston Housing</h1>
    <h2>Add Member(s)</h2>
    <button class="button" onclick="location.href='/dashboard.html'">Dashboard</button>
    <% if (student.gid_ !== null) { %>
        <button class="button" onclick="location.href='/modify-group.html'">Modify Group</button>
        <button class="button" onclick="location.href='/member.html'">Add Member(s)</button>
        <button class="button" onclick="location.href='/rent.html'">Search Home</button>
    <% } else { %>
        <button class="disabled">Modify Group</button>
        <button class="disabled">Add Member(s)</button>
        <button class="disabled">Search Home</button>
    <% } %>
    <% if (members.length > 0) { %>
        <button class="button" id="deleteMember" onclick="location.href='/delete-member.html'">Delete Member(s)</button>
    <% } else { %>
        <button class="disabled" onclick="location.href='javascript:void(0)'">Delete Member(s)</button>
    <% } %>
</nav><br>
<script>
    const params = new URLSearchParams(window.location.search);
    const message = params.get('message');
    if (message === "null") {
        alert('At least one field should be filled in.');
    }
</script>
<div class="container">
    <div class="column single-column">
        <p>Search for group member(s)</p>
        <h3>Wildcards:</h3>
        <p>%&nbsp;Represents zero or more characters</p>
        <p>_&nbsp;Represents a single character</p><br>
    </div>

    <div class="column single-column">
        <h3>Member information:</h3>
        <form method="post">
            <label for="fName">First Name:</label><br>
            <input type="text" id="fName" name="fName"><br>
            <label for="lName">Last Name:</label><br>
            <input type="text" id="lName" name="lName"><br>
            <label for="phone">Phone Number:</label><br>
            <input type="text" id="phone" name="phone"><br><br>
            <button class="button" type="submit">Search for member</button>
        </form>
    </div>
</div>

</body>
</html>